/resources
/target
/classes
/checkouts
/lib
/log
figwheel_*
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
.hgignore
.hg/
/.lein-*
/.env
/.clj-kondo
.nrepl-port
.idea
*.iml
.*.swp
dev_env.sh
env_*.sh
*~
*-venv/